#! /usr/bin/env bash

# Defines Git pre-commit functionality.

set -o nounset
set -o errexit
set -o pipefail
IFS=$'\n\t'

source "$HOME/.config/git/hooks/extensions/support.sh"
source "$HOME/.config/git/hooks/extensions/java_script.sh"
source "$HOME/.config/git/hooks/extensions/reek.sh"
source "$HOME/.config/git/hooks/extensions/rspec.sh"
source "$HOME/.config/git/hooks/extensions/rubocop.sh"

java_script_alert
java_script_console
java_script_debugger
reek_stage_check
rspec_dotfile
rspec_focus
rspec_order
rubocop_stage_check
