# Use `mdls -name kMDItemCFBundleIdentifier -r /Applications/<app>.app` to identify applications.

com.colliderli.iina .flac all
com.colliderli.iina .mkv all
com.colliderli.iina .mov all
com.colliderli.iina .mp4 all
com.colliderli.iina .webm all
com.flyingmeat.Acorn8 .arw all
com.flyingmeat.Acorn8 .avif all
com.flyingmeat.Acorn8 .bmp all
com.flyingmeat.Acorn8 .gif all
com.flyingmeat.Acorn8 .heic all
com.flyingmeat.Acorn8 .jpeg all
com.flyingmeat.Acorn8 .jpg all
com.flyingmeat.Acorn8 .png all
com.flyingmeat.Acorn8 .svg all
com.flyingmeat.Acorn8 .tiff all
com.flyingmeat.Acorn8 .webp all
com.rogueamoeba.Fission .m4a all
