#! /usr/bin/env bash

# Defines Git pre-commit functionality.

set -o nounset
set -o errexit
set -o pipefail
IFS=$'\n\t'

source "$HOME/.config/git/hooks/extensions/support.sh"
source "$HOME/.config/git/hooks/extensions/capybara.sh"
source "$HOME/.config/git/hooks/extensions/elm.sh"
source "$HOME/.config/git/hooks/extensions/java_script.sh"
source "$HOME/.config/git/hooks/extensions/rspec.sh"
source "$HOME/.config/git/hooks/extensions/ruby.sh"
source "$HOME/.config/git/hooks/extensions/dead_end.sh"

capybara_save_and_open_page
elm_debug
java_script_alert
java_script_console
java_script_debugger
rspec_dotfile
rspec_focus
rspec_order
ruby_debug
ruby_dead_end
