--exclude=*.git*
--exclude=*.min.js
--exclude=*coverage*
--exclude=*node_modules*
--exclude=*packs*
--exclude=.DS_Store
--exclude=elm-stuff
--exclude=log
--exclude=tmp
--exclude=vendor
--fields=+l
--languages=-sql
--recurse=yes
--sort=yes
--tag-relative=yes
