# READLINE SETTINGS (http://cnswww.cns.cwru.edu/php/chet/readline/readline.html#SEC13)

# Sets bell style to visible instead of audible.
set bell-style visible

# Use VI edit commands instead of Emacs.
set editing-mode vi

# Use VI key mappings instead of Emacs.
set keymap vi

# Show all auto-complete results at once.
set page-completions off

# Use case insensitive tab auto-completion.
set completion-ignore-case on

# Show all possible auto-completion matches (even when some are ambiguous).
set show-all-if-ambiguous on

# Show all auto-completion results (by asking) when results are more than current limit.
set completion-query-items 100

# Use intelligent auto-completion for text after the cursor relative to current command.
set skip-completed-text on

# Shortcut: CONTROL+SHIFT+P
# Description: Cycles backward through command completions, for current command line, from recent history.
"\C-P": history-search-backward

# Shortcut: CONTROL+SHIFT+N
# Description: Cycles forward through command completions, for current command line, from recent history.
"\C-N": history-search-forward

# Shortcut: TAB
# Description: Changes the default menu list for tab completion to cycle through each matching command instead.
"\t": menu-complete
