[storage]
engine = file_system
path = Dropbox/Cache
directory = Mackup

[applications_to_sync]

[applications_to_ignore]
ack
atom
bash
git
heroku
mackup
pow
rails
ruby
ssh
sublime-text-2
sublime-text-3
vim
