#! /usr/bin/env bash

# Label: Brakeman Check
# Description: Scans Rails project for security vulnerabilities.
brakeman_check() {
  if _check_gem_dependencies "brakeman"; then
    printf "[brakeman]: "
    bundle exec brakeman
  fi
}
export -f brakeman_check
