#! /usr/bin/env bash

# Label: Git Cop
# Description: Enforce consistent Git commits.
git_cop() {
  if _check_gem_dependencies "git-cop"; then
    git-cop --hook --commit-message "${BASH_ARGV[0]}"
  fi
}
export -f git_cop
