#! /usr/bin/env bash

# Label: Git Cop
# Description: Enforces consistent Git commits.
git_cop() {
  if ! command -v git-cop > /dev/null; then
     printf "%s\n" "[git]: Git Cop not found. To install, run: gem install git-cop --trust-policy MediumSecurity."
     exit 1
  fi

  git-cop --hook --commit-message "${BASH_ARGV[0]}"
}
export -f git_cop
