#! /usr/bin/env bash

# Label: Rails Best Practices
# Description: Scans Rails code for poor style choices.
rails_best_practices_check() {
  if _check_gem_dependencies "rails_best_practices"; then
    printf "[rails_best_practices]: "
    bundle exec rails_best_practices
  fi
}
