#! /usr/bin/env bash

# Label: Reek Check
# Description: Scan Ruby code for poor style choices.
reek_check() {
  if _check_gem_dependencies "reek"; then
    printf "[reek]: "
    bundle exec reek .
  fi
}
export -f reek_check
