#! /usr/bin/env bash

# Label: RSpec Focus
# Description: Detect RSpec focus.
rspec_focus() {
  _scan_code "[rspec]" "Focus detected" 'spec.rb$' '(fdescribe\s|fcontext\s|fspecify\s|fit\s|,\s:focus|,\sfocus:)'
}
export -f rspec_focus
