#! /usr/bin/env bash

# Label: Rubocop Check
# Description: Scans Ruby code for poor style choices.
rubocop_check() {
  if _check_gem_dependencies "rubocop"; then
    printf "[rubocop]: "
    bundle exec rubocop --display-cop-names
  fi
}
