#! /usr/bin/env bash

# Label: IRB Binding
# Description: Detect IRB debug statements.
irb_binding() {
  local search_pattern='^(?:(?!.*#.+).*binding.irb)'
  _scan_code "[ruby]" "Debug statements detected" '(rb|erb|slim)$' $search_pattern
}
export -f irb_binding
