#! /usr/bin/env bash

# Label: SCSS Lint
# Description: Scans SCSS code for poor style choices.
scss_lint_check() {
  if _check_gem_dependencies "scss_lint"; then
    printf "[scss_lint]: "
    bundle exec scss-lint
  fi
}
