# macOS
.DS_Store

# Environments
*.env*

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

# Databases
*.dump

# CTags
tags
.tags
.tags_sorted_by_file

# Bundler
.bundle

# RubyMine
*.idea

# Rubocop
.rubocop-http*

# SimpleCov
coverage

# Temp Directories
tmp

# Logs
*.log
