# macOS
.DS_Store

# Environments
*.env*

# Archives
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.zip
*.bzip

# Asciicasts
*.cast

# Databases
*.dump

# CTags
/tags
.tags
.tags_sorted_by_file

# Bundler
.bundle

# RSpec
.rspec-local

# Rubocop
.rubocop-http*

# SimpleCov
/coverage

# Temp Directories
tmp

# Logs
*.log
