#! /usr/bin/env bash

# Label: Brakeman Check
# Description: Scan Rails project for security vulnerabilities.
brakeman_check() {
  if _check_gem_dependencies "brakeman"; then
    printf "%s\n" "[brakeman]"
    bundle exec brakeman --summary --quiet
  fi
}
export -f brakeman_check
