#!/bin/bash

# Label: Bundler Gemfile Path
# Description: Detect gem path statements.
bundler_gemfile_path() {
  _scan_code "[bundler]" "Gemfile path statement detected" 'Gemfile' '(path:|:path\s=>)'
}
