#!/bin/bash

# Label: Pry Binding
# Description: Detect Pry debug statements.
pry_binding() {
  local search_regex='^(?:(?!.*#.+).*(binding.pry|binding.remote_pry))'
  _scan_code "[pry]" "Debug statements detected" '(rb|erb|slim)$' $search_regex
}
