#!/bin/bash

# Label: Rubocop
# Description: Scans Ruby code for poor style choices.
rubocop_scan() {
  if command -v rubocop > /dev/null && [[ -e ".rubocop.yml" ]]; then
    printf "[rubocop]: "

    if [[ -e "Gemfile" ]] && ag "rubocop" Gemfile > /dev/null; then
      bundle exec rubocop --format fuubar --display-cop-names --fail-fast
    else
      rubocop --format fuubar --display-cop-names --fail-fast
    fi
  fi
}
