#! /usr/bin/env bash

set -o nounset
set -o errexit
set -o pipefail
IFS=$'\n\t'

source "$HOME/.config/sleepwatcher/support.sh"

sleepwatcher_bluetooth_off
sleepwatcher_wifi_off
sleepwatcher_mute
sleepwatcher_decaffeinate
